@import '~antd/dist/antd.css';

.backgroundSideBar{
    position: absolute;
    width: 283px;
    height: 1800px;
    left: 32px;
    top: 24px;

    /* White */

    background: #FFFFFF;
    border-radius: 12px;
}