.Hinh1DBFixLan1{
    position: absolute;
    left: 347px;
    top: 228px;
}

.Hinh2DBFixLan2{
    position: absolute;
    left: 1147px;
    top: 228px;
}

.Hinh3DBFixLan3{
    position: absolute;
    left: 347px;
    top: 479px;
}

.Hinh4DBFixLan4{
    position: absolute;
    left: 1147px;
    top: 497px;
}