@import '~antd/dist/antd.css';

.bgGSM{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    border-radius: 50px 50px 50px 50px;
    background: #F0F8FF;
    box-shadow: inset 100px -100px 100px rgba(185, 188, 191, 0.123), inset -100px 100px 100px rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(600px);
}

.TitleTable {
    color: #1085C5;
}

.Update{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;
    text-decoration-line: underline;

    /* Enable */

    color: #347AFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.Xoa{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;
    text-decoration-line: underline;

    /* Red */

    color: #FF5B5B;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.bgTableQTC{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 1541px;
    height: 330px;
    left: 347px;
    top: 258px;

    /* White */

    background: #FFFFFF;
    border-radius: 16px;
}