@import '~antd/dist/antd.css';

.bgQLNDContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 1541px;
    height: 1250px;
    left: 347px;
    top: 258px;

    /* White */

    background: #FFFFFF;
    border-radius: 16px;
}

.TitleQLND{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;

    /* Blue/6 */

    color: #1085C5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.TitleDVQLinQLND{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    /* Blue/6 */

    color: #1085C5;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px;
}

.TitleCapNhatinQLND{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;
    text-decoration-line: underline;

    /* Enable */

    color: #347AFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.TitleXoainQLND{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;
    text-decoration-line: underline;

    /* Red */

    color: #FF5B5B;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}