.TitleQLHTinAL{
    position: absolute;
    width: 134px;
    height: 20px;
    left: 347px;
    top: 67px;

    /* 16 Extra Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.IconQLNDinAL1{
    position: absolute;
    top: 70px;
    left: 347px;
}

.TitleAuditLoginAL{
    position: static;
    width: 108px;
    height: 30px;
    left: 168px;
    top: 2px;

    /* 24 Extra Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    /* Blue/8 */

    color: #091F3A;

    opacity: 0.8;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 4px;
}

.TitleDVQLinAL{
    position: absolute;
    width: 114px;
    height: 20px;
    left: 347px;
    top: 154px;

    /* 16 Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue/7 */

    color: #114A69;

    opacity: 0.8;
}

.TextBoxinAL{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 24px 13px 16px;

    position: absolute;
    width: 223px;
    height: 44px;
    left: 347px;
    top: 182px;

    /* White */

    background: #FFFFFF;
    /* Grey/4 */

    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
}

.txbQVQLDGSinAL{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    /* Grey/4 */

    color: #ACBCD1;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.bgbtnTiminAL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    position: absolute;
    width: 82px;
    height: 44px;
    left: 586px;
    top: 181px;

    /* Blue/5 */

    background: #2190CD;
    /* Blue/5 */

    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.btnTiminAL{
    position: static;
    width: 30px;
    height: 20px;
    left: calc(50% - 30px/2);
    top: calc(50% - 20px/2);

    /* 16 Extra Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* Text/White */

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}